[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = {extras = ["all"], version = "*"}
uvicorn = {extras = ["standard"], version = "*"}
platformio = "*"

[dev-packages]

[requires]
python_version = "3.10"

[scripts]
dev = "uvicorn e69:app --reload"
test = "python -m e69"
